
<h1>New Character</h1>

<form action="/characters/:id/delete" method="post">

    <div>
        <label for"characterName">Name</label>
        <input type="text" name="email" id="{{ character.name }}" />
    

    
    </div>
</form>


{{!-- <h2>Details of {{ character.name }}</h2>


<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p> --}}